<h3><%= host_name %> <a href='javascript://' class='destroy'>X</a></h3>
<p><%= comment %></p>
<p><%= cpu_ram %></p>
<p><%= cpu_ram %></p>
<p><%= guest_name %></p>
<p><%= id %></p>
<p><%= info %></p>
<p><%= ip_address %></p>
<p><%= operating_system %></p>